<div class="view" [ngClass]="{'editing': editing }" *ngIf="view">

  <!-- Header -->
  <div class="view__section header">
    <div class="section__content">
      <div class="header__body center">
        <h4>{{view.name}}</h4>
        <p>Description: {{view.description}}</p>
      </div>
      <div class="header__right center">
        <div class="btn-group">
          <!-- <button (click)="debug()">Debug</button> -->
          <!-- <button (click)="refresh()">Refresh</button> -->
          <!-- <button (click)="reflow()">Reflow</button> -->
          <button mat-raised-button (click)="present()" *ngIf="!editing && hasContent" [disabled]="presenting">
            <i class="fas fa-tv"></i>
            <span>Present</span>
          </button>
          <button mat-raised-button (click)="undo()" *ngIf="editing && hasChanges">
            <i class="fas fa-undo"></i>
            <span>Undo</span>
          </button>
          <button mat-raised-button *ngIf="editing" (click)="addWidget()">
            <i class="fas fa-plus"></i>
            <span>Widget</span>
          </button>
          <button mat-raised-button *ngIf="!editing" (click)="edit()">
            <i class="fas fa-edit"></i>
            <span>Edit</span>
          </button>
          <button mat-raised-button *ngIf="editing" (click)="save()" [disabled]="saving">
            <i class="fas fa-save"></i>
            <span>Save</span>
          </button>
          <button mat-raised-button *ngIf="editing" (click)="cancel()">
            <i class="fas fa-times"></i>
            <span>Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Body -->
  <div class="view__section body">
    <div class="section__content">

      <!-- Widget Grid -->
      <widget-grid
        *ngIf="hasContent"
        [editable]="view.editable"
        [columns]="view.columns"
        [configs]="view.widgetConfigs"
        [editing]="editing"
        [debugging]="debugging"
        (onRemoveWidget)="removeWidget($event)"
        (onChangeStart)="onWidgetGridChangeStart($event)"
        (onChange)="onWidgetGridChange($event)"
        (onChangeEnd)="onWidgetGridChangeEnd($event)">
      </widget-grid>

      <!-- No Content -->
      <div *ngIf="!hasContent">No Content</div>

    </div>
  </div>

  <!-- Footer -->
  <!--
  <div class="view__section footer">
    <div class="section__content">
      FOOTER
    </div>
  </div>
-->

</div>
<div *ngIf="!view">View Not Found</div>