<div class="slide">
  <div class="slide__title" *ngIf="slide.title">
    <h1>{{slide.title}}</h1>
  </div>
  <div class="slide__content">
    <content-host [config]="slide.contentConfig"></content-host>
  </div>
  <div class="slide__actions">
    <div class="btn-group">
      <button mat-raised-button *ngIf="hasPrevious" (click)="back()">
        <span class="icon-chevron-left"></span>
        <span>Back</span>
      </button>
      <button mat-raised-button *ngIf="hasNext" (click)="next()">
        <span>Next</span>
        <span class="icon-chevron-right"></span>
      </button>
    </div>
    <button mat-raised-button (click)="end()">End</button>
  </div>
</div>