<mat-sidenav-container class="app__container" [ngClass]="theme ? 'theme-' + theme : ''">
    <mat-sidenav #sidenav mode="over" class="app__sidenav">
        <div class="sidebar">
            <div class="sidebar__header">
                <div *ngIf="sidenavOptions.title" class="sidebar__header-title">{{sidenavOptions.title}}</div>
                <div *ngIf="sidenavOptions.toolbar && sidenavOptions.toolbar.buttons.length > 0" class="sidebar__header-toolbar">
                    <button *ngFor="let button of sidenavOptions.toolbar.buttons" (click)="button.action()">
                        <i [ngClass]="button.icon"></i>
                    </button>
                </div>
            </div>
            <ul *ngFor="let item of navs" util-recursive-nav-item [item]="item"></ul>
            <ul>
                <li class="sidebar__drawer">
                    <a [matMenuTriggerFor]="menu.childMenu">
                        <span>DROPDOWN TEST</span>
                    </a>
                    <util-recursive-dropdown-menu #menu [items]="navs"></util-recursive-dropdown-menu>
                </li>
            </ul>
        </div>
    </mat-sidenav>
    <div class="app__content">
        <div class="app__header">
            <!-- <cui-header [options]="headerOptions"></cui-header> -->
            <div>Some Header <button (click)="toggleSidenav()">Nav</button></div>
        </div>
        <div class="app__body">
            <router-outlet *ngIf="ready && !error"></router-outlet>
        </div>
        <div class="app__footer">
            <ul class="footer-menu">
                <li><a (click)="about()">About</a></li>
                <li><a>Thing 2</a></li>
                <li><a>Thing 3</a></li>
            </ul>
        </div>
    </div>
</mat-sidenav-container>
<util-overlay *ngIf="error || !ready" [type]="error ? 'error' : 'loading'" [message]="error ? error.message : 'Loading Application...'"></util-overlay>
    