
<button small="true" (click)="browse()">Browse</button>
<button small="true" (click)="present()" [disabled]="presenting">Present</button>
<button small="true" (click)="refresh()">Refresh</button>
<button small="true" (click)="editing = !editing">Edit? {{editing}}</button>
<button small="true" (click)="debugging = !debugging">Debug? {{debugging}}</button>
<h3>Content Components</h3>

<div>
    <div style="height: 200px; width: 300px; position: relative; border: 1px solid;">
        <null-content #nullContent [config]="config" [editing]="editing" [debugging]="debugging"></null-content>
    </div>
    <button small="true" (click)="configure(nullContent)">Configure</button>
    <button small="true" (click)="presentContainer(nullContent)">Present</button>
    <pre>{{ nullContent.config | json}}</pre>
    <pre>{{ config | json}}</pre>
</div>

<div *ngFor="let config of configs">
    <div style="height: 200px; width: 300px; position: relative; border: 1px solid;">
        <content-host
            #host
            [config]="config"
            [debugging]="debugging" 
            [editing]="editing">
        </content-host>
    </div>
    <button small="true" (click)="configure(host)">Configure</button>
    <button small="true" (click)="presentContainer(host)">Present</button>
    <pre>{{ host.config | json }}</pre>
    <pre>{{ config | json }}</pre>
</div>

<hr/>
<h3>Overlay</h3>
<div style="width: 200px; height: 200px; position: relative; display: inline-block;">
    <util-overlay type="loading" message="Loading..."></util-overlay>
</div>

<div style="width: 200px; height: 200px; position: relative; display: inline-block;">
    <util-overlay type="error" message="Some Error"></util-overlay>
</div>

<hr/>
<h3>Recursive Dropdown Menu</h3>
<button [matMenuTriggerFor]="menu.childMenu">Show Menu</button>
<util-recursive-dropdown-menu #menu [items]="navItems"></util-recursive-dropdown-menu>

<hr/>
<h3>Notifications</h3>
<button (click)="snack()">Snack Bar!</button>

<hr/>
<h3>Buttons</h3>
<button color="primary" (click)="toggleSidebar()">Button</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>

<hr/>
<h3>Dialogs</h3>
<button color="primary" (click)="info()">Info</button>
<button color="warn" (click)="confirm()">Confirmation</button>